.gameContainer {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
}

.gameBoard {
    height: 95%;
    width: 100%;
    display: grid; 

    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

 .card {
    height: 20vmin;
    width: 20vmin;
    max-height: 125px;
    max-width: 125px;
    background: pink;
    
    border: 3px solid black;
    /* border-radius: 33.3%; */

    margin: auto auto;

    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 10vmin;

    /* color: pink; */
}

.selected {
    background: black;
    color: white;
}

.found {
    background: green;
    color: white;
}

/* @media (orientation: portrait) {
    .gameBoard {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    }
    .card {
        max-height: 200px;
        max-width: 200px;
    }
} */