.gameContainer {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
}

.gameBoard {
    height: 95%;
    width: 100%;
    display: grid; 

    /* grid-template-columns: auto auto auto auto auto; */
    /* grid-template-rows: auto auto auto auto; */
    
}

 .card {
    /* background: pink; */
    /* height: 20vmin; */
    /* width: 20vmin; */
    /* max-height: 125px; */
    /* max-width: 125px; */
    /* margin: auto auto; */
    
    /* border: 3px solid black; */
    /* border-radius: 33.3%; */

    /* display: flex; */

    
    
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: 10vmin; */
    /* color: pink; */
}



.selected {
    /* border: 4px solid black; */
    /* background:black; */
    /* color: white; */
}

.found {
    /* background: 4px solid green; */
    /* background: green; */
    /* color: white; */
}

/* @media (orientation: portrait) {
    .gameBoard {
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    }
    .card {
        max-height: 200px;
        max-width: 200px;
    }
} */